/* work-sans font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@400;900&family=Open+Sans:wght@700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 228px;
    width: 1920px;
height: 1322px;

}
nav{
    display: flex;
    /* nav er vitorer h3 r ul er majhkhane gap create kore duijon k dui prante pathanor jonno */
    justify-content: space-between;
    /* space-between korar por Git Architecture lekhata niche neme gese.eder k horizontally align korar jonnno align-items: center;korbo */
align-items: center;
}
.nav-title{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
/* 1rem=16px */
font-size: 2.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}
nav > ul{
    display: flex;
}
nav  li{
    
text-align: center;
font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
margin-right: 50px;
list-style: none;
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
/* banner-styles */
.banner-content{
    width: 862px;
    height: 225px;
    text-align: center;
    /* left right margin soman kore rakhar jonno */
    margin: 0 auto;
}
.banner-title{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 4rem;
font-style: normal;
font-weight: 700;
}
.text-light-gray{
    color: var(--Dark-03, #727272);
}
.btn-primary{
    border-radius: 8px;
background: #FF900E;
width: 180px;
height: 64px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
padding: 20px 25px;
/* mouse er cursor niye gele haat show korbe */
cursor: pointer;
}
.banner img{
    margin-top: 200px;
    width: 1440px;
    height: 700px;
    margin-left: 240px;
}
/* main styles */
main{
    max-width: 1440px;
    margin:70px auto;
}
/* teams style */
.teams-container{
    display:flex;
    align-items:center;
}
.teams-img-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.quick{
    color: var(--Dark-03, #727272);
    font-weight: 500;
    font-size:2.8rem;
}
.our{
    color: var(--Dark-01, #131313);
    font-weight: 700;
    font-size:2.8rem; 
}
.text-feature{
    color: #FF900E;
    font-weight: 700;
    font-size:2.8rem; 
}
.teams-content-description{
    color:  var(--Dark-03, #727272);
    font-weight: 400;
    font-size:1rem; 
}
/* responsive media queries */
@media screen and (max-width:576px){

    header{
        overflow: hidden;
        width: 100%;
        height: 33.33%;

    }
    .banner img{
        width:100%;
    }
    nav,.teams-container{
        flex-direction: column;
    }
    .banner-title{
        padding: 0;
        margin: 0;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* medium device */
@media screen and (min-width:576px)and (max-width:992px){
    header{
        padding: 0;
        overflow: hidden;
    }
    nav,.teams-container{
        flex-direction: column;
    }
}